<div class="container">
  <div class="row pt-4">
    <div class="col-md-12">
      <a
        class="btn btn-primary pull-right"
        [routerLink]="['/books/new']">
        New Book
      </a>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Book</th>
            <th scope="col">Author</th>
            <th scope="col">Pages</th>
            <th scope="col">Edtiorial</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ book.book }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.editorial }}</td>
            <td class="text-center">
              <button class="btn btn-default"
                (click)="editBook(book)">
                <span class="fa fa-edit"></span>
              </button>
            </td>
            <td class="text-center">
              <button class="btn btn-default"
                (click)="removeBook(book)">
                <span class="fa fa-remove"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
